# CS2001<span style="margin-left: 750px;"></span>IIIT-Ranchi  
### <span style="margin-left: 850px;"></span>                                                    *Shivang Tripathi*

# Container Type

* It refers to a collection of data or objects  
    - Can be considered as derived datatypes
* Python has a wide variety of container types  
* Four different container types are directly available with python
     - **List, tuple, set, dictionary**
* Many other container types are available as part of the python module “collections”
     - namedtuple(), ordereddict(), deque etc

# Set

* A set in Python is an **unordered** collection of **unique** elements.
  - meaning they have no defined position or index.
  - and set doesn't allow duplicate values
* It is a **mutable** data structure that allows adding, removing, and performing various operations on elements.
* Sets support various operations, including union, intersection, difference, and symmetric difference.
* Sets are efficient for checking membership, as the average time complexity for this operation is O(1).
* Sets are useful when you need to store and manipulate collections of unique items, like filtering duplicates or performing set operations.
* Sets in Python provide powerful tools for handling collections of data in ways that are efficient and intuitive, especially when dealing with unique elements or performing mathematical set operations.

## Basic Properties of Set
 * ***UnOrdered:*** Elements in a set do not maintain a specific order. Thus, you cannot access elements via an index.
 * ***Mutable:*** While the set itself is mutable (you can add or remove elements), **the elements it contains must be immutable (like numbers, strings, or tuples)**.
 * ***Unique Elements:*** Sets automatically eliminate duplicate entries.
 * ***UnIndexed:*** There is no concept of indexing in sets since they are unordered.

## Creating a Set
### You can create a set using either curly braces { } or the set( ) constructor. 
#### To initialize an empty set, you must use set( ), as { } creates an empty dictionary.

In [65]:
# Creating a set with elements
my_set = {1, 2, 3, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Creating an empty set
empty_set = set()
print(empty_set)  # Output: set()

# Creating a set with duplicate elements (duplicates will be removed)
my_set_with_duplicates = {1, 2, 2, 3, 4}
print(my_set_with_duplicates)  # Output: {1, 2, 3, 4}

#Since sets are unordered, the elements may not appear in the same order as inserted.
unorderd = {4,3,2,1}
print(unorderd)

# disimilar types
dis_set = {"Deepu", 23.4, 12, (1,2)}
print(dis_set)

#dis_set = {"Deepu", 23.4, 12, (1,2), [2, 3]}    #?? can't contain mutable objects

{1, 2, 3, 4, 5}
set()
{1, 2, 3, 4}
{1, 2, 3, 4}
{(1, 2), 12, 'Deepu', 23.4}

### Traversing the SET (Iterations of set)

1. **Using *for* loop**

In [66]:
pets = {'Dog', 'Cat', 'Monkey', 'Lion'}
for i in pets:
    print(i)         # order may vary

Cat
Dog
Lion
Monkey

**Can we use while loop along with len() fxn to get the length of the list ???** ==> Nah

In [67]:
pets = {'Dog', 'Cat', 'Monkey', 'Lion'}
i = 0
while i < len(pets):
    print(pets[i])
    i += 1

TypeError: 'set' object is not subscriptable

**Can we Use *for/in* combination with range function???**  => again Nope

In [22]:
pets = {'Dog', 'Cat', 'Monkey', 'Lion'}
print(type(pets))
for i in range(len(pets)):
    print(pets[i])

<class 'set'>

TypeError: 'set' object is not subscriptable

2. **Iteration using enumerate()**

In [23]:
pets = {'Dog', 'Cat', 'Monkey', 'Lion'}
for index, pet in enumerate(pets):
    print(index, pet)

0 Cat
1 Dog
2 Lion
3 Monkey

## Accessing SET Elements (!! CAUTION !!)
### You cannot access set elements using indexing and slicing.  Remember its unordered collection
### you'll get error: **TypeError: 'set' object is not subscriptable**

In [25]:
# Access by index

#-ve index:-5  -4  -3  -2  -1
numbers = {10, 20, 30, 40, 50}
#+ve index: 0   1   2   3   4
print(numbers[0])

TypeError: 'set' object is not subscriptable

In [26]:
# Slicing
sub_set = numbers[1:3]
print(sub_set)

TypeError: 'set' object is not subscriptable


## SET Operations

* Python sets support several useful operations, such as **union, intersection, difference,** and more.
* These are analogous to mathematical set operations.

#### 1. Adding Elements to a Set:
##### You can add elements to a set using the **add( ) or update( )** methods.

* **add( ):** Adds a single element.
* **update( ):** Adds multiple elements from another iterable (like a list or set).

In [33]:
my_set = {1, 2, 3}
my_set.add(4)  # Add a single element
print(my_set)  # Output: {1, 2, 3, 4}

my_set.update([5, 6, 7])  # Add multiple elements
print(my_set)  # Output: {1, 2, 3, 4, 5, 6, 7}

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}

#### 2. Removing Elements from a Set:
##### You can remove elements from a set using **remove(), discard(), or pop()**.

* **remove():** Removes an element, but raises an error if the element is not present.
* **discard():** Removes an element, but does not raise an error if the element is not found.
* **pop():** Removes a random element from the set, since the set is unordered.

In [34]:
my_set = {1, 2, 3, 4}

my_set.remove(3)  # Removes 3
print(my_set)  # Output: {1, 2, 4}

my_set.discard(2)  # Removes 2
print(my_set)  # Output: {1, 4}

my_set.discard(10)  # No error if 10 is not found
print(my_set)  # Output: {1, 4}

my_set.pop()  # Removes a random element
print(my_set)  # Output might be {4} or {1}, depending on the random removal

{1, 2, 4}
{1, 4}
{1, 4}
{4}

#### 3. Set Union ( **|** or **union( )**):
##### The union of two sets combines all elements from both sets, with duplicates removed.

In [35]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1 | set2  # Using the '|' operator
print(union_set)  # Output: {1, 2, 3, 4, 5}

# Alternatively, using union()
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

#### 4. Set Intersection ( **&** or **intersection( )** ):
##### The intersection of two sets returns only the elements that are present in both sets.

In [36]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1 & set2  # Using the '&' operator
print(intersection_set)  # Output: {2, 3}

# Alternatively, using intersection()
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {2, 3}

{2, 3}
{2, 3}

#### 5. Set Difference ( **-** or **difference( )**):
##### The difference of two sets returns the elements that are present in the first set but not in the second.

In [37]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5}

difference_set = set1 - set2  # Using the '-' operator
print(difference_set)  # Output: {1, 2}

# Alternatively, using difference()
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

{1, 2}
{1, 2}

#### 6. Set Symmetric Difference ( **^** or **symmetric_difference( )**):
##### The symmetric difference of two sets returns the elements that are in either of the sets, but not in both.

In [38]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

symmetric_difference_set = set1 ^ set2  # Using the '^' operator
print(symmetric_difference_set)  # Output: {1, 2, 4, 5}

# Alternatively, using symmetric_difference()
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)  # Output: {1, 2, 4, 5}

{1, 2, 4, 5}
{1, 2, 4, 5}

#### 7. Checking Membership in a Set:
##### You can check if an element is present in a set using the **in** keyword.

In [39]:
my_set = {1, 2, 3, 4}
print(2 in my_set)  # Output: True
print(5 in my_set)  # Output: False

True
False

#### 8. Set Size:
##### You can find the number of elements in a set using the **len( )** function.

In [40]:
my_set = {1, 2, 3, 4}
print(len(my_set))  # Output: 4

4

#### 9. methods for relating two sets

In [46]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.issuperset(set2))    # Test whether every element in other is in the set.

print(set1.issubset(set2))      # Test whether every element in the set is in other.

print(set1.isdisjoint(set2))    # Return True if two sets have a null intersection.

False
False
False

In [44]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(self, other, /)
 |      Test whether every element in the set is in other.
 |
 |  issuperset(self, other, /)
 |      Test whether every element in other is in the set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

#### We know indexing & slicing won't work bcz set is an _ _ _ _ _ _ _ collection??
#### What about our favourite concat + and rep * operators??

In [47]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = set1 + set2

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [48]:
set1 = {1, 2, 3}
rep = set1*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

### NESTED SETS
#### We cannot include a set as a member of another set

In [53]:
nested_set = {{1, 2}, {3, 4}, {5, 6}}
print(nested_set)

TypeError: unhashable type: 'set'

### SET COMPREHENSION

##### Similar to that of list comprehension but has to comply with the validity of sets
* Case 1: Single for loop

In [56]:
{n+1 for n in range(1,10)}

{2, 3, 4, 5, 6, 7, 8, 9, 10}

In [57]:
{(n,n*n) for n in range(1,10)}

{(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)}

* Case 2: for loop with if
- This will help to generate a set for a given range when the condition given in if is True
- Example – generate a set of numbers that are divisible by 6 within the range of 0 to 100

In [60]:
{n for n in range(0,100) if n%6==0}

{0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96}

* Case 3: for with if and else
   - In this case, if clause and else will be written before for loop
   - To generate n\*n if n>5 and n\*n\*n if n<=5

In [61]:
S = {n*n if n>5 else n*n*n for n in range(-10,10)}
print(S)

{-512, 0, 1, -125, 8, -1000, 27, 36, -729, -216, -343, 49, -64, 64, 81, -27, -8, 125, -1}

In [64]:
#The condition should not lead to duplication of elements
{n**0.5 if n<6 else n//4 for n in range(0,20)}

{0.0, 1.0, 1.4142135623730951, 1.7320508075688772, 2.0, 2.23606797749979, 3, 4}

### Example: Practical Use of Sets
 #### Suppose you have two lists of students who attended two different events. You want to find:

* All the unique students who attended at least one event.
* The students who attended both events.
* The students who attended only one of the events.

In [55]:
event1_attendees = {"Chaitanya", "Abhrajit", "Vikas", "Anubhav"}
event2_attendees = {"Sagar", "Vikas", "Chaitanya", "Udisha"}

# All unique attendees
all_attendees = event1_attendees | event2_attendees  # Union
print("All attendees:", all_attendees) 

# Students who attended both events
common_attendees = event1_attendees & event2_attendees  # Intersection
print("Common attendees:", common_attendees) 

# Students who attended only one event
unique_attendees = event1_attendees ^ event2_attendees  # Symmetric difference
print("Unique attendees:", unique_attendees)

All attendees: {'Vikas', 'Chaitanya', 'Anubhav', 'Udisha', 'Abhrajit', 'Sagar'}
Common attendees: {'Vikas', 'Chaitanya'}
Unique attendees: {'Anubhav', 'Udisha', 'Abhrajit', 'Sagar'}

In [26]:

students =("pankaj","rahul","abhinav","devansh","amrit")
marks = (73,56,84,47,66)
d = tuple(zip(students,marks))
print(d)
l=list(d)
l.sort(key=lambda x:x[1])
print(l)
print(l[0])
print(l[4])
print(l[0][0])
print(l[0][1])
print(l[3])
print(l[3][0])

(('pankaj', 73), ('rahul', 56), ('abhinav', 84), ('devansh', 47), ('amrit', 66))
[('devansh', 47), ('rahul', 56), ('amrit', 66), ('pankaj', 73), ('abhinav', 84)]
('devansh', 47)
('abhinav', 84)
devansh
47
('pankaj', 73)
pankaj

In [31]:
students =("pankaj","rahul","abhinav","devansh","amrit")
marks = (73,56,84,47,66)

comb = tuple(zip(marks, students))
nc = sorted(comb)
print(nc)
nl = [tuple(reversed(i)) for i in nc]
print(nl)

[(47, 'devansh'), (56, 'rahul'), (66, 'amrit'), (73, 'pankaj'), (84, 'abhinav')]
[('devansh', 47), ('rahul', 56), ('amrit', 66), ('pankaj', 73), ('abhinav', 84)]

##### expected output
Combined Tuple: (('Bibek', 67), ('Pahul', 82), ('Yugraj', 91), ('Sonny', 55), ('Parnab', 78))  
Sorted by Marks (Ascending): [('Sonny', 55), ('Bibek', 67), ('Parnab', 78), ('Pahul', 82), ('Yugraj', 91)]  
Student with Lowest Marks: Sonny, Marks: 55  
Student with Highest Marks: Yugraj, Marks: 91  
Student with Second-Highest Marks: Pahul, Marks: 82  
Number of students scoring above 75: 3

In [32]:
print(len([i for i in nl if i[1]>75]))

1