# CS2001<span style="margin-left: 750px;"></span>IIIT-Ranchi  
### <span style="margin-left: 850px;"></span>                                                    *Shivang Tripathi*

# Container Type

* It refers to a collection of data or objects  
    - Can be considered as derived datatypes
* Python has a wide variety of container types  
* Four different container types are directly available with python
     - **List, tuple, set, dictionary**
* Many other container types are available as part of the python module “collections”
     - namedtuple(), ordereddict(), deque etc

## List

### A list in Python is a built-in data structure used to store a collection of items.
### Lists are **ordered, mutable,** and can store elements of **different data types**.
#### List are flexible and provide many operations for working with collections of data.

## Basic Properties of Lists
 * ***Ordered:*** Elements in a list maintain the order in which they were inserted.
 * ***Mutable:*** Lists can be modified after creation (i.e., elements can be added, removed, or changed).
 * ***Dynamic:*** You can add, delete, or modify elements at any time.
 * ***Heterogeneous:*** Lists can store elements of different types, like integers, strings, other lists, etc.

## Creating a List
### You can create a list using square brackets [] or the list() constructor.

In [215]:
# Example 1: Empty list
empty_list = []
print(empty_list)

# Example 2: List with elements
numbers = [1, 2, 3, 4, 5]
names = ['Aditya', 'Rishabh', 'Sunny']
print(numbers)
print(names)

# Example 3: Mixed types
mixed = [1, "apple", 3.14, True]
print(mixed)

# Example 4: Convert string or any other data type to list using list()
aString = "ANIL"
stringTolist = list(aString)
print(stringTolist)

# There's another way to construct list using List comprehension (covered later)

[]
[1, 2, 3, 4, 5]
['Aditya', 'Rishabh', 'Sunny']
[1, 'apple', 3.14, True]
['A', 'N', 'I', 'L']

### split() and join()

* A string can be **split()** to form a list
* List items can be joined to form a string

In [225]:
S1='India is my country'
print(type(S1))    #str type

L1=S1.split()      # splitted into a list
print(L1)
print(type(L1))

<class 'str'>
['India', 'is', 'my', 'country']
<class 'list'>

In [227]:
s ='a'
s.split?

Signature: s.split(sep=None, maxsplit=-1)
Docstring:
Return a list of the substrings in the string, using sep as the separator string.

  sep
    The separator used to split the string.

    When set to None (the default value), will split on any whitespace
    character (including \n \r \t \f and spaces) and will discard
    empty strings from the result.
  maxsplit
    Maximum number of splits.
    -1 (the default value) means no limit.

Splitting starts at the front of the string and works to the end.

Note, str.split() is mainly useful for data that has been intentionally
delimited.  With natural text that includes punctuation, consider using
the regular expression module.
Type:      builtin_function_or_method

In [115]:
print(list(S1))

['I', 'n', 'd', 'i', 'a', ' ', 'i', 's', ' ', 'm', 'y', ' ', 'c', 'o', 'u', 'n', 't', 'r', 'y']

***Note the difference in using list() fnx to convert string to list and  
split() method of converting string to list***
- **split()** method omits the white_spaces and returns list of words
- **list()** function type cast all characters including whitespaces as an individual item in a list

In [229]:
# use join method (str class) to convert items of a list in to a string
L2=L1[::-1]
print(L2)
print(type(L2))
S2='_'.join(L2)
print(S2)
print(type(S2))

['country', 'my', 'is', 'India']
<class 'list'>
country_my_is_India
<class 'str'>

In [117]:
str.join?

Signature: str.join(self, iterable, /)
Docstring:
Concatenate any number of strings.

The string whose method is called is inserted in between each given string.
The result is returned as a new string.

Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
Type:      method_descriptor

## Accessing List Elements
### You can access elements using indexing (0-based).

In [230]:
#-ve index:-5  -4  -3  -2  -1
numbers = [10, 20, 30, 40, 50]
#+ve index: 0   1   2   3   4
print(numbers[2])   # Output: 10 (first element)
print(numbers[-1])  # Output: 50 (last element)

30
50

### Mutability of list

In [232]:
print("Numbers list earlier:", numbers)
numbers[0] = 5
print("New listnumbers", numbers)

Numbers list earlier: [10, 20, 30, 40, 50]
New listnumbers [5, 20, 30, 40, 50]

### Traversing the list (iterating over items of a list)

1. **using while loop along with len() fxn to get the length of the list**

In [233]:
pets = ['Dog', 'Cat', 'Monkey', 'Lion']
i = 0
while i < len(pets):
    print(pets[i])
    i += 1

Dog
Cat
Monkey
Lion

2. **Using *for/in* combination along with range() function**

In [238]:
pets = ['Dog', 'Cat', 'Monkey', 'Lion']
for i in range(len(pets)):
    print(pets[i])
    #i +=2

Dog
Cat
Monkey
Lion

3. **Using *for/in* combination treating the list as a collection**

In [240]:
pets = ['Dog', 'Cat', 'Monkey', 'Lion']
for i in pets:
    print(i)

Dog
Cat
Monkey
Lion

4. **Iteration using enumerate()**

In [100]:
pets = ['Dog', 'Cat', 'Monkey', 'Lion']
for index, pet in enumerate(pets):
    print(index, pet)

0 Dog
1 Cat
2 Monkey
3 Lion



## Slicing a List
### You can extract sublists using slicing.
    - start index is inclusive, end is exclusive
    - means?? just like strings slicing will be done till end-1

In [9]:
sublist = numbers[1:4]   # Output: [20, 30, 40]
print(sublist)

[20, 30, 40]

## Common List Operations

| Operation            | Example             | Description                                 |
|----------------------|---------------------|---------------------------------------------|
| **Length of list**   |	len(numbers)     |	Returns the number of elements in the list.|
| **Concatenation**	   | numbers + [60, 70]  |	Combines two lists.                        |
| **Repetition**	   | ['apple'] * 3	     | Repeats the list elements.                  |
| **Membership test**  |	20 in numbers	 | Checks if an element exists in the list.    |
| **Indexing**	       | numbers[2]	         | Accesses the element at index 2.            |
| **Slicing**	       | numbers[1:3]	     | Extracts a sublist from index 1 to 2.       |
| **Identity Test**    | L1 is L2            | Check if both refers to same object         |

In [161]:
# Repitition
['apple'] * 3

['apple', 'apple', 'apple']

In [162]:
# Membership test
print(20 in numbers)

False

In [163]:
# concatenation
numbers + [60, 70]

[10, 25, 30, 60, 70]

In [164]:
# Identity test
num1 = [1, 2, 3]
num2 = num1
output = num1 is num2
print(output)

True

-----------------------
## Modifying a List
### Lists are mutable, so you can modify, add, or remove elements.

**1. Changing an element**

In [241]:
numbers = [10, 20, 30]
numbers[1] = 25   # Change the second element
print(numbers)    # Output: [10, 25, 30]

[10, 25, 30]

##### **2. Ways of adding to a list**
**2.1 Appending an Element: append()**

In [242]:
numbers.append(40)  # Adds 40 at the end
print(numbers)      # Output: [10, 25, 30, 40]

[10, 25, 30, 40]

**2.2 Inserting an Element: insert()**

In [248]:
numbers.insert(1,24)  # Inserts 15 at index 1
print(numbers)         # Output: [10, 15, 25, 30, 40]

[10, 24, ' ', '', 25, 30, 40]

**2.3 Using the + operator**

In [119]:
num1 = [10, 15, 25]
num2 = [30, 40, 50]
numbers = num1 + num2
print(numbers)

[10, 15, 25, 30, 40, 50]

**2.4 Using extend() function**

In [135]:
L1 = [10, 15, 25]
L2 = [30, 40, 50]
L1.extend(L2)    #Argument to .extend() must be a list --> Here it is Lnum2
print(L1)
L1.extend([55, 60])
print(L1)

[10, 15, 25, 30, 40, 50]
[10, 15, 25, 30, 40, 50, 55, 60]

**3. Removing an Element**

In [37]:
numbers.remove()  # Removes the first occurrence of 25
print(numbers)      # Output: [10, 15, 30, 40]

[10, 15, 30, 40]

**4. Popping an Element**

In [136]:
a = numbers.pop()       # Removes and returns the last element
print(a)                # Output: last element from the list

40

In [137]:
print(numbers)      # Output: [10, 15, 30] --> The list is now without the popped number

[10, 25, 30]

In [40]:
numbers.pop(1)      # Removes the element at index 1
print(numbers)      # Output: [10, 30]

[10, 30]

**5. Clearing the List**

In [30]:
numbers.clear()     # Removes all elements from the list
print(numbers)      # Output: []

[]

**6. Sorting a List**

In [31]:
numbers = [40, 10, 30, 20]
numbers.sort()      # Sorts in ascending order
print(numbers)      # Output: [10, 20, 30, 40]

numbers.sort(reverse=True)  # Sorts in descending order
print(numbers)              # Output: [40, 30, 20, 10]

[10, 20, 30, 40]
[40, 30, 20, 10]

In [32]:
numbers.sort?

Signature: numbers.sort(*, key=None, reverse=False)
Docstring:
Sort the list in ascending order and return None.

The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
order of two equal elements is maintained).

If a key function is given, apply it once to each list item and sort them,
ascending or descending, according to their function values.

The reverse flag can be set to sort in descending order.
Type:      builtin_function_or_method

- The ***key*** parameter in the sort() method allows you to specify a  
    function that acts as a key for sorting, 
    meaning it determines the criteria by which the list will be sorted.
  - You can use built-in functions, lambda functions, or custom functions with the key parameter.

In [44]:
# Example
words = ['apple', 'banana', 'cherry', 'date']
words.sort(key=len)
print(words)  # Output: ['date', 'apple', 'banana', 'cherry']

['date', 'apple', 'banana', 'cherry']

**7. Sorting using sorted function**
- ***sort()*** is a method of list while ***sorted()*** is a function that takes a list as an argument
- **NOTE**: sorted() doesn't change the original list

In [249]:
# There's a function called sorted() which takes a list objecr and sorts it
# sort() method is method of list class, thus works only on lists
# whereas sorted function can take any iterable including dictionaries
L = [3, 6, 8, 9, 0]
L_sorted = sorted(L)
print(L_sorted)
print(L)

[0, 3, 6, 8, 9]
[3, 6, 8, 9, 0]

In [213]:
L_sorted_rev = sorted(L, reverse=True)
print(L_sorted_rev)

[9, 8, 6, 3, 0]

In [214]:
type(L_sorted)

list

-------------------------------
**8. Reversing a List**

In [33]:
numbers.reverse()   # Reverses the order of elements
print(numbers)      # Output: [10, 30, 20, 40]

[10, 20, 30, 40]

------------
## List Methods
#### Here are some important methods associated with lists:

| Method                    | Description                                                     | Example                 |
|---------------------------|-----------------------------------------------------------------|-------------------------|
| **append(x)**             | Adds an element x to the end of the list.	                      | numbers.append(50)      |
| **extend(iterable)**      | Adds all elements of an iterable (e.g., list, tuple) to the end.|	numbers.extend([60, 70])|
| **insert(i, x)**          | Inserts an element x at index i.                                |	numbers.insert(2, 25)   |
| **remove(x)**             | Removes the first occurrence of x.	                          |numbers.remove(30)       |
| **pop([i])**              | Removes and returns the element at index i (default is last).   |	numbers.pop(2)          |
| **clear()**               | Removes all elements from the list.                             |	numbers.clear()         |
| **index(x)**	            | Returns the index of the first occurrence of x.	              |numbers.index(20)        |
| **count(x)**	            | Returns the number of occurrences of x in the list.             |	numbers.count(20)       |
| **sort([key, reverse])**	| Sorts the list in place (can be customized with key or reverse).|	numbers.sort()          |
| **reverse()**	            | Reverses the elements of the list.                              |	numbers.reverse()       |
| **copy()**	            | Returns a shallow copy of the list.	                          |new_list = numbers.copy()|

In [41]:
nums = [20, 30, 40, 50]

In [43]:
numbs = nums.copy()
print(numbs)

[20, 30, 40, 50]

### Aliasing (alternate name for same object)  
- just like copy

In python, variables refer to objects, if you assign a variable to another, both variables will refer to the same object and an alias is created  
- if object is immutable (like a sting), then creating a alias will not make a difference
- However, if object is mutable (like a list), then aliasing (shallow copying) can lead to unexpected bugs.

In [145]:
s1 = 'happy'
s2 = s1
print(id(s1))   
print(id(s2))

1833874879280
1833874879280

In [146]:
s2 = 'sad' # s2 is assgined with new value
print(s2)
print(s1)   # s1 is not changed
print(id(s1))
print(id(s2)) # now s2 has different location in memory

sad
happy
1833874879280
1833880134704

Now, try same on mutable (list)

In [150]:
l1 = [1,2,3]
l2 = l1
print('l1:', id(l1), 'l2:', id(l2))

l1: 1833886969088 l2: 1833886969088

In [151]:
l2.append(4)  # change l2
print(l2)
print(l1)    # l1 also changed
print(id(l1))
print(id(l2))

[1, 2, 3, 4]
[1, 2, 3, 4]
1833886969088
1833886969088

##### If you pass a list to a function call, and list is modified in the function definition,  
##### then the change will also reflect in the original list outside function  
- so be careful when calling a mutable object in a function

In [152]:
def f1(L):               # function definition : don't worry just an example. We will study functions
    L[0] = 'New'
    L[1] = 'Bottle'

L1 = ['Old', 'Wine']
print('List before', L1)
f1(L1)             # function f1 is called here with list L1 as an input argument
print('List after', L1)

List before ['Old', 'Wine']
List after ['New', 'Bottle']

### Cloning
- Copying the content of one list to another list
- In this case, two objects will be created
- The lists will refer to two different objects.
- Modification in one list will not affect the other.

In [156]:
L1=[1,2,3,4,5]
L2=[]
L2=L2+L1 #or L2[:]=L1 ( Both are valid statements)
print(L1)
print(L2)
print(id(L1))
print(id(L2))
# now change one list
L1[1]=6
print(L1,'\n',L2)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
1833886291456
1833886071680
[1, 6, 3, 4, 5]
 [1, 2, 3, 4, 5]

In [159]:
L3=[1,2,3,4,5]
L4=[]
L4[:] = L3
print(L3,'\n',L4)
print(id(L3), '\n', id(L4))

[1, 2, 3, 4, 5]
 [1, 2, 3, 4, 5]
1833895667328
 1833895662016

### Copying Lists

#### **Shallow Copy:**  **(similar to Aliasing)**
- Copies the reference of the nested objects. The changes in nested objects are reflected in both the original and the shallow copy.
#### **Deep Copy:**    **(similar to cloning)**
- Creates a fully independent copy of both the object and all of its nested objects. Changes in any part of the deep-copied object do not affect the original.

In [78]:
import copy

# Original nested list
original = [[1, 2], [3, 4]]

# Shallow copy
shallow_copy = copy.copy(original)

# Deep copy
deep_copy = copy.deepcopy(original)

# Modify the first element of the first list in shallow copy
shallow_copy[0][0] = 100

# Modify the first element of the first list in deep copy
deep_copy[0][0] = 200

# Output
print("Original:", original)           # Output: [[100, 2], [3, 4]]
print("Shallow Copy:", shallow_copy)   # Output: [[100, 2], [3, 4]]
print("Deep Copy:", deep_copy)         # Output: [[200, 2], [3, 4]]

Original: [[100, 2], [3, 4]]
Shallow Copy: [[100, 2], [3, 4]]
Deep Copy: [[200, 2], [3, 4]]

------------

### Functions for list (passing list object)

* **len(list)** – to find the number of elements present in a list
* **max(list)** – to find the maximum value of a list
* **min(list)** – to find the minimum
* **sum()** – to find the sum of all elements
* **any()** – returns True if any of the list element is True
* **all()** – returns True if all of the list elements are True
* **del()** – to delete a complete list object or any item of the list from the memory
* **sorted()** – to create a new list object which is a sorted version of the original list

In [173]:
L = [1, 4, 3, 2, 7, 9, 5, 6, 8]
print(len(L))
print(max(L))
print(min(L))
print(sum(L))
print(any(L))
print(all(L))
L2= sorted(L)
print(L2)
print(id(L),'\n',id(L2))
print(L)
del(L)
print(L)   # throw error bcz L is already deleted

9
9
1
45
True
True
[1, 2, 3, 4, 5, 6, 7, 8, 9]
1833894135936
 1833894146240
[1, 4, 3, 2, 7, 9, 5, 6, 8]

NameError: name 'L' is not defined

### Unpacking a string or list

In [175]:
S="UNPACK"
S1=[*S]
print(S1)
print(type(S), '\t', type(S1))
L1=[1,2,5]
L2=[7,8,9,L1,10]
print(L2)
L3=[7,8,9,*L1,10]  # Note the difference in lists L2 and L3
print(L3)

['U', 'N', 'P', 'A', 'C', 'K']
<class 'str'> 	 <class 'list'>
[7, 8, 9, [1, 2, 5], 10]
[7, 8, 9, 1, 2, 5, 10]

-------------------
## List Comprehension
#### Python allows list creation in a concise way using list comprehensions.

* Feature provided by python to generate a list with a single line of code according to the requirements
* or to create sequence from another sequence
* Need:
  - An input sequence
  - A variable representing a member of the input sequence
  - An output expression
  - An optional condition
* Syntax:
      **[expression (or variable)<space> ***for*** loop <space>zero or more for loop or if clause]**
* Comprehension helps to reduce the number of lines in the program
* There are various code segments which can be replaced by list comprehension
* It helps to store the output in the form of a list object

  output expression                          optional condition
      |                                              |
  [ x**2               for x in L1              if x//2 !=0]
                            |
                      Input sequence

In [187]:
L1 = [1,2,3,4,5,6,7,8,9,10]
L2 = [x**2 for x in L1]
L3 = [x**2 for x in L1 if x%2== 0]
print(L2)
print(L3)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]

In [46]:
squares = [x**2 for x in range(5)]
print(squares)  # Output: [0, 1, 4, 9, 16]

# With condition
evens = [x for x in range(10) if x % 2 == 0]
print(evens)  # Output: [0, 2, 4, 6, 8]

[0, 1, 4, 9, 16]
[0, 2, 4, 6, 8]

In [194]:
names = ['Anil', 'Aditya', 'Radha', 'Ujjawal', 'Mogambo']
first_letter = ['A', "M"]
sel_names = [x for x in names if x[0] in first_letter]
sel_names2 = [name for name in names if name.startswith('R')]
print(sel_names)
print(sel_names2)

['Anil', 'Aditya', 'Mogambo']
['Radha']

In [196]:
help(i.startswith)

Help on built-in function startswith:

startswith(...) method of builtins.str instance
    S.startswith(prefix[, start[, end]]) -> bool

    Return True if S starts with the specified prefix, False otherwise.
    With optional start, test S beginning at that position.
    With optional end, stop comparing S at that position.
    prefix can also be a tuple of strings to try.

### Exercise:
### Generate a list of all even numbers within the range of 20 to 50 using list comprehension

In [ ]:
# write solution here

### Comprehension with If and else

In [201]:
'''
In this case, if clause and else will be written before for loop
To generate n*n if n>5 and n*n*n if n<=5
'''
Lt=[n*n if n>5 else n*n*n for n in range(-10,10)]
print(Lt)

[-1000, -729, -512, -343, -216, -125, -64, -27, -8, -1, 0, 1, 8, 27, 64, 125, 36, 49, 64, 81]

In [199]:
StringNew=['*' if letter in 'aeiouAEIOU' else letter for letter in 'Education']
print(StringNew)

['*', 'd', '*', 'c', '*', 't', '*', '*', 'n']

### Comprehension with nested for

In [202]:
'''
- One for loop followed by another for loop within the comprehension
- Flattening a list of lists
'''
List =[[1,2,3],[4,5,6],[7,8,9]]
L=[n for row in List for n in row]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Nested comprehension

In [203]:
List_P1=[i*j for i in range(1,5) for j in range(1,5)]
print(List_P1)
List_P2=[[i*j for i in range(1,5)] for j in range(1,5)]
print(List_P2)

[1, 2, 3, 4, 2, 4, 6, 8, 3, 6, 9, 12, 4, 8, 12, 16]
[[1, 2, 3, 4], [2, 4, 6, 8], [3, 6, 9, 12], [4, 8, 12, 16]]

## Nested Lists
#### Lists can contain other lists, making them multi-dimensional.

In [178]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix[0])       # Output: [1, 2, 3]
print(matrix[0][1])    # Output: 2 (Accessing element from nested list)

[1, 2, 3]
2

Could you print it this way?
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [180]:
# Hint: use for loop

### Entering multiple inputs

In [207]:
# To instantiate multiple integer objects at run time
Nlist= [int(n) for n in input().split()]
print(Nlist)

#It is also possible to create a list of strings
Namelist=[name for name in input().split()]
print(Namelist)
#In both the cases, the length of the list is determined at run time

 2 45 76 90

[2, 45, 76, 90]

 ankush sandeep umang

['ankush', 'sandeep', 'umang']

## This should be enough for the list
## See ya'll in next topic: tuple