# CS2001<span style="margin-left: 750px;"></span>IIIT-Ranchi  
### <span style="margin-left: 850px;"></span>                                                    *Shivang Tripathi*

# Container Type

* It refers to a collection of data or objects  
    - Can be considered as derived datatypes
* Python has a wide variety of container types  
* Four different container types are directly available with python
     - **List, tuple, set, dictionary**
* Many other container types are available as part of the python module “collections”
     - namedtuple(), ordereddict(), deque etc

# Tuple

* A tuple is a collection data type in Python that is used to store multiple items in a single variable.
* Unlike lists, tuples are immutable, meaning that once created, their elements cannot be changed.
* They are useful for representing fixed collections of items and are often used when the immutability of data is needed.

## Basic Properties of Tuples
 * ***Ordered:*** The items have a defined order, and that order will not change
 * ***Immutable:*** You cannot modify (add, change, or remove) elements after the tuple is created.
 * ***Heterogeneous:*** Tuples can store elements of different data types (integers, strings, other tuples, etc.).
 * ***Indexed:*** You can access elements by their index (0-based indexing).

## Creating a Tuple
### You can create a tuple by enclosing elements in parentheses () or simply using commas.

In [4]:
# Empty tuple
empty_tuple = ()
print(empty_tuple)

# Tuple with elements
numbers = (1, 2, 3, 4, 5)
mixed = (1, "apple", 3.14, True)
print(numbers)
print(mixed)

# Tuple without parentheses (using commas)
no_parentheses = 1, 2, 3
print(no_parentheses)

# Convert string or any other data type to tuple using tuple()
aString = "ANIL"
stringTotuple = tuple(aString)
print(stringTotuple)

()
(1, 2, 3, 4, 5)
(1, 'apple', 3.14, True)
(1, 2, 3)
('A', 'N', 'I', 'L')

## Accessing Tuple Elements
### You can access elements using indexing and slicing.

In [5]:
# Access by index

#-ve index:-5  -4  -3  -2  -1
numbers = (10, 20, 30, 40, 50)
#+ve index: 0   1   2   3   4
print(numbers[0])   # Output: 10 (first element)
print(numbers[-1])  # Output: 50 (last element)

# Slicing
sub_tuple = numbers[1:3]  # Output: (20, 30)
print(sub_tuple)

10
50
(20, 30)

### Tuple Immutability
##### Once a tuple is created, you cannot modify its elements (i.e., no appending, inserting, or removing elements).

In [6]:
numbers = (1, 2, 3)
numbers[0] = 100  # This will raise a TypeError because tuples are immutable

TypeError: 'tuple' object does not support item assignment

#### However, if the tuple contains mutable elements (like lists), the mutable objects inside can be changed.

In [7]:
mutable_inside_tuple = ([1, 2], 3, 4)
mutable_inside_tuple[0][0] = 100
print(mutable_inside_tuple)  # Output: ([100, 2], 3, 4)

([100, 2], 3, 4)

### Tuple Packing and Unpacking
#### Packing is the process of combining multiple values into a tuple,  
#### and unpacking is the process of extracting the values back from the tuple.

In [8]:
# Tuple packing
packed_tuple = 1, 2, "apple"
print(packed_tuple)

# tuple unpacking
a, b, c = packed_tuple
print(a)  # Output: 1
print(b)  # Output: 2
print(c)  # Output: "apple"

(1, 2, 'apple')
1
2
apple

### Traversing the tuple (iterating over items of a tuple)

1. **using while loop along with len() fxn to get the length of the list**

In [9]:
pets = ('Dog', 'Cat', 'Monkey', 'Lion')
i = 0
while i < len(pets):
    print(pets[i])
    i += 1

Dog
Cat
Monkey
Lion

2. **Using *for/in* combination along with range() function**

In [10]:
pets = ('Dog', 'Cat', 'Monkey', 'Lion')
for i in range(len(pets)):
    print(pets[i])
    i +=1

Dog
Cat
Monkey
Lion

3. **Using *for/in* combination treating the tuple as a collection**

In [12]:
pets = ('Dog', 'Cat', 'Monkey', 'Lion')
print(type(pets))
for i in pets:
    print(i)

<class 'tuple'>
Dog
Cat
Monkey
Lion

4. **Iteration using enumerate()**

In [13]:
pets = ('Dog', 'Cat', 'Monkey', 'Lion')
for index, pet in enumerate(pets):
    print(index, pet)

0 Dog
1 Cat
2 Monkey
3 Lion

### SWAPPING OF DATA
* Tuple assignment can be used to swap between the data assigned to variables

In [14]:

a, b = 20, 30
a, b = b, a
print(a, b)

a, b, c = 10, 20, 30
a, b, c = c, a, b
print(a, b, c)

30 20
30 10 20


## Common Tuple Operations

| Operation            | Example             | Description                                      |
|----------------------|---------------------|--------------------------------------------------|
| **Length of tuple**  | len(numbers)        | Returns the number of elements in the tuple.     |
| **Concatenation**	   | (1, 2) + (3, 4)     |  Combines two tuples.                            |
| **Repetition**	   | ('apple') * 3	     | Repeats the tuple elements.                      |
| **Membership test**  | 20 in numbers	     | Checks if an element exists in the tuple.        |
| **Indexing**	       | numbers[2]	         | Accesses the element at index 2.                 |
| **Slicing**	       | numbers[1:3]	     | Extracts a subtuple from index 1 to 2.           |
| **Find max value**| max(numbers)    | to find maximum value of a tuple |
| **Find min**       | min(numbers)   | to find minimum       |
| **sum** | sum(numbers) | to find sum of all elements|
| **any()** | any(numbers) | returns True if any of the tuple element is True |
| **all()** | all(numbers) | returns True if all of the tuple element is True |
| **sorted()**| sorted(numbers) | create a sorted version of the tuple |

In [27]:
numbers = (10, 20, 30, 40, 50)
print(len(numbers))
print(('apple') * 3)
print(20 in numbers)
print("number at index [2] is ", numbers[2])
print("no. of occurence for number 30 is ", numbers.count(30))
print("index of element 40 is ", numbers.index(40))
print(any(numbers))
print(all(numbers))
print(sum(numbers))
numb = (24, 12, 4, 67, 9)
sorted_numb = sorted(numb)
print(numb)
print(sorted_numb)

5
appleappleapple
True
number at index [2] is  30
no. of occurence for number 30 is  1
index of element 40 is  3
True
True
150
(24, 12, 4, 67, 9)
[4, 9, 12, 24, 67]

In [19]:
# concatenation
numbers + (60, 70)

(10, 20, 30, 40, 50, 60, 70)

In [20]:
# Identity test
num1 = (1, 2, 3)
num2 = num1
output = num1 is num2
print(output)

True

------------
## Tuple Methods
#### Tuples have only two built-in methods due to their immutability:

| Method                    | Description                                                     | Example                 |
|---------------------------|-----------------------------------------------------------------|-------------------------|
| **count(x)**             | Returns the number of times x appears in the tuple.	                      | num.count(2)      |
| **index(x)**      | Returns the index of the first occurrence of x in the tuple.|	num.index(2)|

In [22]:
num = (2, 1, 2, 5, 1, 2, 2, 3, 4)
print(num.count(2))
print(num.index(2))

4
0

### Nested Tuples
- Tuples can contain other tuples, making them multi-dimensional.
- We could also have tuples of list, tuples of set etc.

In [28]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print(nested_tuple[1])    # Output: (3, 4)
print(nested_tuple[1][0]) # Output: 3

(3, 4)
3

In [31]:
L = [1, 2, 3]
L2 = [4, 5, 6]
tup = L, L2
print(tup)

([1, 2, 3], [4, 5, 6])

### Unpacking a Tuple
- Using **\*** operator

In [33]:
T1 = 3, 2, 1
T2 = 5, 4, T1, 0
print(T2)

(5, 4, (3, 2, 1), 0)

In [34]:
T1 = 3, 2, 1
T2 = 5, 4, *T1, 0
print(T2)

(5, 4, 3, 2, 1, 0)

### ZIP Function
- The **zip()** function in Python is used to combine multiple iterables (like lists, tuples, etc.) into a single iterable of tuples.
- It pairs the elements from each iterable based on their positions.
- Syntax:
      - zip(iterables)

In [50]:
# Two lists of equal length
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

# Using zip to combine the two lists
result = zip(list1, list2)
print(result)
print(list(result))

result = zip(list1, list2)
print(tuple(result))

result = zip(list1, list2)
print(dict(result))

<zip object at 0x000001F14C3E7280>
[(1, 'a'), (2, 'b'), (3, 'c')]
((1, 'a'), (2, 'b'), (3, 'c'))
{1: 'a', 2: 'b', 3: 'c'}

In [40]:
# when both lists have different lengths, it stops at the shortest iterable.
list1 = [1, 2, 3]
list2 = ['a', 'b']

result = zip(list1, list2)
print(list(result))  # Output: [(1, 'a'), (2, 'b')]

[(1, 'a'), (2, 'b')]

### UNzipping a zipped object
- You can unzip a zipped object back into separate iterables using **\*** (the unpacking operator).

In [2]:
# Zipped list
zipped = [(1, 'a'), (2, 'b'), (3, 'c')]

# Unzipping
numbers, letters = zip(*zipped)
print(numbers)  # Output: (1, 2, 3)
print(letters)  # Output: ('a', 'b', 'c')

(1, 2, 3)
('a', 'b', 'c')

#### Zipping More Than Two Iterables
- You can zip more than two iterables together. The output will contain tuples with as many elements as there are iterables.

In [42]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
list3 = [True, False, True]

result = zip(list1, list2, list3)
print(list(result))  # Output: [(1, 'a', True), (2, 'b', False), (3, 'c', True)]

[(1, 'a', True), (2, 'b', False), (3, 'c', True)]

#### Using zip() with Strings
- zip() works with any iterables, including strings.

In [43]:
str1 = 'abc'
str2 = '123'

result = zip(str1, str2)
print(list(result))

[('a', '1'), ('b', '2'), ('c', '3')]

#### practical applications of zip()
- Creating a dictionary from two lists...
- iterating over multiple list simulatenously
|
- Try it

In [6]:
keys = ['name', 'age', 'city']
values = ['Tarun', 20, 'Ranchi']

# Creating a dictionary using zip
dictionary = zip(keys, values)
print(dict(dictionary))  # Output: {'name': 'Tarun', 'age': 20, 'city': 'Ranchi'}

{'name': 'Tarun', 'age': 20, 'city': 'Ranchi'}

In [51]:
#Iterating Over Multiple Lists Simultaneously
list1 = [1, 2, 3]
list2 = ['one', 'two', 'three']

# Iterating over both lists
for num, word in zip(list1, list2):
    print(f"{num}: {word}")
    
# Output:
# 1: one
# 2: two
# 3: three

1: one
2: two
3: three

------------

### Partition and Join
- The partition( ) **(a string method, not a tuple method)** method splits a string into three parts (basically, creates a tuple of 3 items):
- the part before the specified separator,
- the separator itself, and
- the part after the separator.

In [53]:
S1 = 'Mera IIIT Mahan'
S2 = S1.partition(' ')
print(S2)
type(S2)

('Mera', ' ', 'IIIT Mahan')

tuple

### join ()
- The join() method takes an iterable (like a tuple or list) and joins its elements into a single string,
- separated by the specified string (often used to join characters or words).

In [55]:
tuple_elements = ('apple', 'orange', 'banana')
result = '-'.join(tuple_elements)

print(result)  # Output: 'apple-orange-banana'
type(result)

apple-orange-banana

str

--------

### Tuple vs List
- Tuples are immutable, while lists are mutable.
- Tuples are generally faster than lists due to immutability.
- Tuples are used for read-only data, while lists are used for dynamic data.
### Advantages of Tuples
- Immutability makes them suitable for use as keys in dictionaries.
- Faster than lists because of immutability.
- They provide data integrity, ensuring that values cannot be accidentally modified.

### Home work Exercise: Once done, copy the code in a tuple_HW.py file and upload it to your lab code repo
### Student ranking system

* You are given two tuples:

- students = ("Bibek", "Pahul", "Yugraj", "Sonny", "Parnab")
- marks = (67, 82, 91, 55, 78)

#### Perform the following tasks:

- **Combine** the students and marks into a tuple of tuples, where each tuple contains a student's name and their corresponding marks.

- **Sort** the combined tuple by the marks in ascending order without using lambda or any custom functions.

- **Find the highest and lowest marks** and print the corresponding students' names.

- **Find the second-highest marks** and print the corresponding student's name.

- **Determine how many students** scored above 75 marks.

In [26]:
# write solution here
students =("pankaj","rahul","abhinav","devansh","amrit")
marks = (73,56,84,47,66)
d = tuple(zip(students,marks))
print(d)
l=list(d)
l.sort(key=lambda x:x[1])
print(l)
print(l[0])
print(l[4])
print(l[0][0])
print(l[0][1])
print(l[3])
print(l[3][0])

(('pankaj', 73), ('rahul', 56), ('abhinav', 84), ('devansh', 47), ('amrit', 66))
[('devansh', 47), ('rahul', 56), ('amrit', 66), ('pankaj', 73), ('abhinav', 84)]
('devansh', 47)
('abhinav', 84)
devansh
47
('pankaj', 73)
pankaj

In [23]:
students =("pankaj","rahul","abhinav","devansh","amrit")
marks = (73,56,84,47,66)

comb = tuple(zip(marks, students))
nc = sorted(comb)
nl = [tuple(reversed(i)) for i in nc]
nl

[('devansh', 47),
 ('rahul', 56),
 ('amrit', 66),
 ('pankaj', 73),
 ('abhinav', 84)]

##### expected output
Combined Tuple: (('Bibek', 67), ('Pahul', 82), ('Yugraj', 91), ('Sonny', 55), ('Parnab', 78))  
Sorted by Marks (Ascending): [('Sonny', 55), ('Bibek', 67), ('Parnab', 78), ('Pahul', 82), ('Yugraj', 91)]  
Student with Lowest Marks: Sonny, Marks: 55  
Student with Highest Marks: Yugraj, Marks: 91  
Student with Second-Highest Marks: Pahul, Marks: 82  
Number of students scoring above 75: 3

## This should be enough for the tuples
## See ya'll in next topic: Dictionary (dict)

In [29]:
print(len([i for i in nl if i[1]>75]))

1